@model IEnumerable<Movie>
@{
    ViewData["Title"] = "Movie Collection";
}
<div class="pb-4">
    <a class="btn btn-info" asp-action="Create" asp-controller="Home">Create New...</a>
</div>
<br />
<table class="table table-striped text-center">
  <thead>
      <tr>
          <th>#</th>
          <th>Name</th>
          <th>Year</th>
          <th>View Count</th>
        <th></th>
      </tr>
  </thead>
  <tbody>

      @foreach (var item in Model)
      {
          <tr>
              <td>
                  @item.Id
              </td>
              <td>
                  @item.Name
              </td>
              <td>
                  @item.YearProduction
              </td>
              <td>
                  @item.ViewCount
              </td>
              <td>
                  <a class="btn btn-danger" asp-action="Edit" asp-controller="Home" asp-route-id="@item.Id">Edit</a>
                  <a class="btn btn-danger" asp-action="Delete" asp-controller="Home" asp-route-id="@item.Id">Delete</a>
              </td>
          </tr>
      }

  </tbody>
</table>
